<header>
    <div class="container">
        <a>
            <img src="https://png.pngtree.com/png-vector/20230925/ourmid/pngtree-home-icon-blue-button-build-png-image_10111766.png"
                width="60px" height="60px" padding-left="10px" (click)="home()">
        </a>
        <div class="align">
            <h1> HELPDESK</h1>
        </div>
    </div>

    <div class="user-icon">
        <img src=" https://cdn-icons-png.flaticon.com/128/3135/3135715.png" alt="User Icon">
        <div class="options">
            <div class="btn-anchor">
                <a routerLink="faqs" class="btn-control">FAQ's</a>
                <a routerLink="about" class="btn-control">About</a>
                <button (click)="logout()" class="logout-btn-control">Logout</button>
            </div>
        </div>
    </div>
</header>