<div class="LoginComponent">
  <div class="box">
    <div>
      <img src="login.png" width="130px" height="230px" style="padding: 20px; box-sizing: 20px;">
    </div>

    <div class="wrapper">

      <form #loginForm="ngForm" (ngSubmit)="login()" ngForm>
        <h2> Login to your Account </h2>
        Enter Email
        <input type="text" name="email" placeholder="Enter Your Email" class="size" ngModel required
          [(ngModel)]="email">

        <span class="error" *ngIf="loginForm.submitted &&loginForm.form.controls['email'].hasError('required') ">Email
          is required</span><br>

        Enter Password
        <input type="password" name="pwd" placeholder="Enter Your Password" class="size" ngModel required minlength="6"
          [(ngModel)]="password"><br>

        <span class="error" *ngIf="loginForm.submitted&&loginForm.form.controls['pwd']?.hasError('required')">Password
          is Required</span><br>
        <span class="error" *ngIf="loginForm.submitted&&loginForm.form.controls['pwd']?.hasError('minlength')">Minimum
          6 Characters</span>
          <div ><button class="bgcolor">Login</button></div>
        
      </form>
    </div>
  </div>
</div>