<div>
   <div class="request">
      <h2>All Requests </h2>
      <div class="btn" *ngIf="singleuserDetails.role === 'user'">
         <a routerLink="newrequest">New Request</a>
      </div>
   </div>
   <table border="2">
      <thead>
         <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th> Priority</th>
            <th>Comment</th>
            <th> Created By</th>
            <th> Created Date</th>
            <th>Resolved By</th>
            <th>Resolved Date</th>
            <th> Actions</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let request of allrequestDetails">
            <td><a class="request-id" (click)="onRequestClick(request.id,'viewrequest')">{{request.id}}</a></td>
            <td> {{request.title}}</td>
            <td> {{request.description}}</td>
            <td> {{request.status}}</td>
            <td> {{request.priority}}</td>
            <td>{{request.comment}}</td>
            <td>{{request.created_by}}</td>
            <td>{{request.created_date}}</td>
            <td> {{request.resolved_by}}</td>
            <td>{{request.resolved_date}}</td>
            <td class="buttons">
               <button class=" update-button" (click)="onEditRequest(request,'Edit')">Edit</button>
               <button class="delete-button" (click)="onDeleteRequest(request.id)" type="button">Delete</button>
            </td>
         </tr>
      </tbody>
   </table>
</div>

<!-- PopUp code -->

<div class="pop-up" [ngClass]="isVisible?'popup-show':'popup-hide'">
   <div class="header">Request Details</div>
   <div class="close-btn">
      <button (click)="hide()">&#x2716;</button>
   </div>
   <table>
      <tbody>
         
         <tr>
            <th>Title:</th>
            <td>{{Requestdetails?.title}}</td>
         </tr>

         <tr>
            <th>Description:</th>
            <td>{{Requestdetails?.description}}</td>
         </tr>

         <tr>
            <th>Status:</th>
            <td>{{Requestdetails?.status}}</td>
         </tr>

         <tr>
            <th>Created_by:</th>
            <td>{{Requestdetails?.created_by}}</td>
         </tr>

         <tr>
            <th>Created_date:</th>
            <td>{{Requestdetails?.created_date}}</td>
         </tr>

         <tr>
            <th>Resolved_by:</th>
            <td>{{Requestdetails?.resolved_by}}</td>
         </tr>

         <tr>
            <th>Resolved_date:</th>
            <td>{{Requestdetails?.resolved_date}}</td>
         </tr>

         <tr>
            <th>Comment:</th>
            <td>{{Requestdetails?.comment}}</td>
         </tr>
         
      </tbody>
   </table>
</div>